<header>
    <nav class="my-navbar navbar navbar-expand-lg navbar-dark fixed-top">
        <div class="container-fluid">
            <a class="link-logo" routerLink="/home"><img class="logo" src="./assets/logo.png" alt="Logo">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">



                <ul class="navbar-nav" *ngIf="userLogged | async as user; else other_nav">
                    <li class="nav-item me-5">
                        <a class="nav-link" routerLink="dashboard" routerLinkActive="active">Dashboard</a>
                    </li>
                    <li class="nav-item me-5">
                        <a class="nav-link" routerLink="agregar" routerLinkActive="active">Agregar</a>
                    </li>
                    <li class="nav-item me-5">
                        <a class="nav-link logout" (click)="logout()"><i class="fas fa-sign-out-alt"></i> Salir</a>
                    </li>
                </ul>

                <ng-template #other_nav>
                    <ul class="navbar-nav" *ngIf="userLogged">
                        <li class="nav-item me-5">
                            <a class="nav-link" routerLink="peliculas" routerLinkActive="active">Películas</a>
                        </li>
                        <li class="nav-item me-5">
                            <a class="nav-link" routerLink="series" routerLinkActive="active">Series</a>
                        </li>
                        <li class="nav-item me-5">
                            <a class="nav-link" routerLink="login" routerLinkActive="active">Ingresar <i class="fas fa-sign-in-alt"></i></a>
                        </li>
                    </ul>
                </ng-template>

            </div>
        </div>
    </nav>
</header>