.tittle {
    display: flex;
    margin-top: 8%;
    margin-left: 6%;
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 80px;
    letter-spacing: -0.02em;
    color: #EBEEF5;
}

.cuadro {
    padding: 40px 16px;
    background: #121829;
    opacity: 0.8;
    border-radius: 12px;
}

.cuadro:hover {
    cursor: pointer;
}

.cuadro>p {
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
}