<div>

    <h1 class="tittle mb-5">Bienvenid@</h1>

    <div class="d-flex row justify-content-center">
        <div class="d-flex justify-content-center align-items-center flex-column col-md-5 cuadro m-3" (click)="goToList('movie')">
            <p>{{countMovie}}</p>
            <span>Películas</span>
        </div>

        <div class="d-flex justify-content-center align-items-center flex-column col-md-5 cuadro m-3" (click)="goToList('tv')">
            <p>{{countTv}}</p>
            <span>Series</span>
        </div>
    </div>

</div>