.portada {
    width: 100%;
    height: 480px;
    left: 120px;
    top: 120px;
    background: linear-gradient(180deg, rgba(54, 44, 146, 0.4) 0%, rgba(18, 98, 151, 0.4) 100%);
    border-radius: 40px;
}

.titulo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    width: 560px;
    height: 144px;
    left: 20%;
    top: 500px;
    background: rgba(32, 40, 62, 0.8);
    border-radius: 24px;
}

.titulo>small {
    position: static;
    height: 16px;
    left: 0px;
    top: 0px;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #BEB7FB;
}

.name {
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    display: flex;
    align-items: center;
    letter-spacing: -0.02em;
    color: #EBEEF5;
}

.my-row {
    margin-top: 130px;
}

.poster {
    height: 720px;
    border-radius: 24px;
}

.description {
    left: 0px;
    top: 56px;
    font-size: 20px;
    line-height: 32px;
    color: #8E95A9;
    margin: 24px 0px;
}

.rating {
    top: 18px;
    left: 16px;
    width: 70px;
    background: rgba(0, 0, 0, 0.65);
    padding: 4px 8px;
    backdrop-filter: blur(8px);
    border-radius: 8px;
    color: #FFAD49;
}

.tag {
    position: static;
    width: 346px;
    height: 32px;
    left: 0px;
    top: 0px;
    /* Heading/H4 */
    font-size: 24px;
    line-height: 32px;
    color: #EBEEF5;
}

.detalleName {
    width: 39px;
    height: 24px;
    left: 0px;
    top: 0px;
    font-size: 16px;
    line-height: 24px;
    color: #767E94;
    margin: 8px 0px;
}

.detalles {
    left: 0px;
    top: 32px;
    font-size: 20px;
    line-height: 32px;
    color: #C3C8D4;
    margin: 8px 0px;
}