<div *ngIf="media_type=='movie'">

    <div class="d-flex justify-content-center">
        <img class="portada" src="{{urlPortada}}{{movieDetail.backdrop_path}}" alt="">
    </div>

    <div class="titulo p-3">
        <small class="m-3">PelisUP! / Películas</small>
        <h1 class="name">{{movieDetail.title}}</h1>
    </div>

    <div class="d-flex row my-row">
        <div class="col md-6">
            <img class="poster" src="{{urlPortada}}{{movieDetail.poster_path}}" alt="">
        </div>

        <div class="col md-6">
            <p class="rating"><i class="far fa-star"></i> {{movieDetail.vote_average}}</p>

            <p class="tag mb-5" *ngIf="movieDetail.tagline">{{movieDetail.tagline}}</p>

            <p class="description">{{movieDetail.overview}}</p>
            <small class="detalleName">Tipo</small>
            <p class="detalles">Película</p>
            <small class="detalleName">Fecha de lanzamiento</small>
            <p class="detalles">{{movieDetail.release_date}}</p>
            <small class="detalleName">Duración</small>
            <p class="detalles">{{movieDetail.runtime}} min</p>
            <small class="detalleName">Géneros</small>
            <p class="detalles">{{genres}} </p>
        </div>
    </div>
</div>

<div *ngIf="media_type=='tv'">

    <div class="d-flex justify-content-center">
        <img class="portada" src="{{urlPortada}}{{serieDetail.backdrop_path}}" alt="">
    </div>

    <div class="titulo p-3">
        <small class="m-3">PelisUP! / Series</small>
        <h1 class="name">{{serieDetail.name}}</h1>
    </div>

    <div class="row my-row">
        <div class="col md-6">
            <img class="poster" src="{{urlPortada}}{{serieDetail.poster_path}}" alt="">
        </div>

        <div class="col-md-6">
            <p class="rating"><i class="far fa-star"></i> {{serieDetail.vote_average}}</p>
            <p class="tag mb-5" *ngIf="serieDetail.tagline">{{serieDetail.tagline}}</p>
            <p class="description">{{serieDetail.overview}}</p>

            <div class="row">
                <div class="col">

                    <small class="detalleName">Tipo</small>
                    <p class="detalles">Serie</p>
                    <small class="detalleName">Primera vez al aire</small>
                    <p class="detalles">{{serieDetail.first_air_date}}</p>
                    <small class="detalleName">Número de temporadas</small>
                    <p class="detalles">{{serieDetail.number_of_seasons}}</p>
                    <small class="detalleName">Duración episodio</small>
                    <p class="detalles">{{serieDetail.episode_run_time[0]}} min aprox</p>
                    <small class="detalleName ">Géneros</small>
                    <p class="detalles ">{{genres}} </p>
                </div>

                <div class="col">
                    <small class="detalleName ">Estado</small>
                    <p class="detalles ">{{serieDetail.status}}</p>
                    <small class="detalleName ">Ultima vez al aire</small>
                    <p class="detalles ">{{serieDetail.last_air_date}}</p>
                    <small class="detalleName ">Número de episodios</small>
                    <p class="detalles ">{{serieDetail.number_of_episodes}}</p>
                </div>

            </div>



        </div>
    </div>
</div>